div.race-menu {
	padding: 10px;
	width: 100%;
	display:flex;
	color: green;
	justify-content: space-between;

	.competitor {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
	}
	
	.finish-line {
		border-left: 1px solid green;
	}
}